body, html, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#mainContainer {
  position: relative;
  background-color: #F0F4F8;
  /* For the footer */
  padding-bottom: 60px;
  min-height: calc(100% - 60px);
}
@media (max-width: 650px) {
  #mainContainer {
    width: 650px;
  }
}