#cohortContainer {
    display: flex;
    flex-direction: column;
}
.header {
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cohortPaper {
    margin: 10px 10px;
    min-height: 300px;
    padding-bottom: 20px;
    text-align: center;
}
.cohortListItem.Mui-selected {
    background-color: rgba(188, 204, 220, 0.6) !important;
    border-radius: 10px;
}
.cohortDialogContent {
    max-height: 400px;
    overflow: auto;
}
.spinnerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}
.divider {
    flex: 1 0 0;
}