#icees_footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    padding: 10px;
    background-color: #fff
}
#icees_footer p {
    margin: 0;
    font-size: 12px;
    color: #6c7c89;
}
#link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
  
#link-button:hover, #link-button:focus {
  text-decoration: none;
}