#homeContainer {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#homePaper {
  width: 70%;
  height: 80%;
  max-height: 500px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#homePaper.MuiPaper-rounded {
  border-radius: 30px;
}
#homepageForm {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#homeInputs {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#homeInputs > * {
  margin: 0 30px;
}
.footer {
  height: 70px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}