#homeContainer {
  min-height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePagePaper {
  width: 70%;
  max-width: 900px;
  padding: 20px;
}
#homeTitle {
  height: 500px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
#homeTitle p {
  text-align: left;
}
#homeTitle.MuiPaper-rounded, #homeForm.MuiPaper-rounded {
  border-radius: 30px;
}
#icees_title {
  font-size: 60px;
}
#icees_text {
  font-weight: normal;
}
#homeForm {
  margin: 30px;
}
#homepageForm {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#homeInputs {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#homeInputs > * {
  margin: 0 30px;
}
#formSubmit {
  height: 70px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}