#resultsTableContainer {
    margin: 20px 10px;
    min-height: 200px;
    position: relative;
}
.centered {
    margin: auto;
}
#resultsTable {
    width: 100%;
}
.singleResultTable {
    /* width: 100%; */
    margin: 30px;
    display: flex;
    position: relative;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.pagination button {
    width: 320px;
}
.yAxisTitle {
    position: absolute;
    left: -15px;
    top: 75%;
    transform: rotate(-90deg);
    transform-origin: left;
}
.xAxisTitle {
    position: absolute;
    top: -20px;
    right: 50%;
}
.expandedRow {
    background-color: rgba(240, 244, 248, 0.6) !important;
}
#emptyTableOverlay {
    position: absolute;
    top: 40%;
    left: 45%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 5px;
}